body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.wrapper {
  height: 100vh;
}

#dark {
  background-color: black;
}

#light {
  background-color: #fff;
}

.toggle-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
